@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,500;1,700&family=Rubik+Moonrocks&display=swap');

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    height: 100vh;
    width: 100vw;
    background: url(bg.jpeg) no-repeat center center fixed;
    background-size: cover;
    position: absolute;
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    -webkit-tap-highlight-color: transparent;
    /* justify-content: space-between; */
}

.navBar {
    /* position: fixed;
    width: 100%; */
    display: flex;
    align-items: center;
    /* padding: 50px 30px 0 50px; */
}

.navBar div a img {
    width: 15em;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style: none;
}

nav ul li {
    cursor: pointer;
    display: inline-block;
    margin-right: 70px;
    /* color: #fff; */
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #735C99;
}

nav ul li a:hover {
    color: #3b2956;
}

nav ul li button {
    font-size: 20px;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #735C99;
}

nav ul li button:hover {
    color: #3b2956;
}
.toggler{
    width: 100%;
}
.toggler input {
    position: absolute;
    top: 1.3rem;
    right: 1.3rem;
    z-index: 3;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.toggler .hampBurger {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;
    width: 30px;
    height: 40px;
    padding: 0.8rem;
    /* background: #cec6da3d; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* cursor: pointer; */
    opacity: 0;
}

.toggler .hampBurger>div {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: #7d51be;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.toggler .hampBurger>div::before, .toggler .hampBurger>div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 3px;
    background: inherit;
}

.toggler .hampBurger>div::after {
    top: 10px;
}

.toggler input:checked+.hampBurger>div {
    transform: rotate(135deg);
}

.toggler input:checked:hover+.hampBurger>div {
    transform: rotate(225deg);
}

.toggler input:checked+.hampBurger>div::before, .toggler input:checked+.hampBurger>div::after {
    transform: rotate(90deg);
    top: 0;
}
.toggler input:checked +  nav ul li{
    transform: rotate(20deg);
}

#container{
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formBox {
    width: 380px;
    height: 465px;
    position: relative;
    margin: 0% auto;
    background: rgba(225, 127, 234, 0.122);
    border-radius: 20px;
    padding: 0px 5px;
    overflow: hidden;
}

.buttonBox {
    width: 220px;
    margin: 20px auto;
    position: relative;
    box-shadow: 0 0 8px 2px #eaa3dc;
    border-radius: 30px;
}

.toggle {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #735C99;
    border-radius: 30px;
    transition: .5s;
}

.inputLoginGroup {
    top: 150px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.inputRegisterGroup {
    top: 100px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.inputField {
    width: 100%;
    padding: 10px 8px;
    margin: 5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #735C99;
    outline: none;
    background: transparent;
}

.submitBtn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #735C99;
    border: 0;
    outline: none;
    border-radius: 30px;
}

.submitBtn:hover {
    background: #735c99c7;
    color: #fff;
}

.chkBox {
    margin: 30px 10px 34px 0;
}

span {
    color: #735C99;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login {
    left: 50px;
}

#login input {
    color: #3b2956;
    font-size: 15;
}

#register {
    left: 450px;
}

#register input {
    color: #3b2956;
    font-size: 15;
}


@media (max-width:970px) {

    nav {
        position: fixed;
        background: rgba(223, 137, 226, 0.12);
        box-shadow: inset 0 0 0 3000px rgba(225, 154, 244, 0.15);
        backdrop-filter: blur(10px);
        /* border: 2px solid red; */
        width: 10vw;
        right: -12rem;
        top: 0px;
        padding-top: 5rem;
        height: 100vh;
        z-index: 1;
        transition: right 0.5s ease;
    }
    .toggler input:checked~nav{
        right: 0;
    }
nav ul{
    margin-top: 30px;
}
    nav ul li {
        display: flex;
        margin-bottom: 3rem;
    }
    .toggler .hampBurger {
        opacity: 1;
    }
    #container{
        margin-right: 5px;
        margin-left: 5px;
    }
    /* .formBox {
        top: 10rem;
    } */
}